@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}
:root {
  --grey: rgb(236, 238, 246);
  --pink: rgb(247, 130, 134);
  --blue: rgb(130, 132, 247);
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* body {
  background-color: var(--grey);
} */

.navbar {
  position: sticky;
  top: 0;
  margin: 0;
  padding: 1em;
  /* border: 1px solid red; */
  font-family: "Open Sans";
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1em;
}

.navbar ul li:first-child {
  display: flex;
  gap: 1em;
}

.navbar a {
  text-decoration: none;
  color: var(--pink);
}

.navbar a img {
  color: var(--pink);
}

.navbar a::first-letter {
  text-transform: capitalize;
}

.main-content {
  padding: 1em;
  max-width: 40em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

input {
  width: 100%;
  border: none;
  border-radius: 3px;
  padding: 0.5em;
  /* margin: 1em; */
  margin-bottom: 1em;
  box-shadow: -0.2px 0.3px 1px 1px rgba(0, 0, 0, 0.1);
}

button {
  cursor: pointer;
  width: 100%;
  padding: 0.5em;
  border: none;
  background-color: var(--pink);
  color: white;

  border-radius: 3px;
  box-shadow: -0.2px 0.3px 1px 1px rgba(0, 0, 0, 0.1);
}

label {
  cursor: pointer;
  min-width: 100%;
  border: none;
  border-radius: 3px;
  padding: 0.5em;
  margin-bottom: 1em;
  box-shadow: -0.2px 0.3px 1px 1px rgba(0, 0, 0, 0.1);
}

img {
  width: 100%;
}

svg {
  color: var(--pink);
}
